<div>
    <div class="col-xs-12">
        <img src="img/system/new_year.png" style="max-width: 98%">
    </div>


    <div class="col-xs-12" style="margin-top: 20px; border: 1px dashed; ">
        <p>
            澳洲IPure公司简介：<br>
            起源地：澳大利亚<br>
            品牌生产地： 澳大利亚<br>
            设计理念： 平易近人的高端羊毛制品<br>
            羊毛围巾产品：<br>
            IPURE纯羊毛(100%)制造围巾，采用澳洲当地纯羊毛为原材料，进行加工制作，<br>
            产品设计前卫，时尚，并有多种颜色可供选择，保暖功能一流。<br><br>

            围巾可以澳洲境内通过邮局直邮，运费是3澳币一条。<br>
            也可以<strong style="color:red">直邮中国</strong>，运费是9澳币一条。
            <br>或者在墨尔本Boxhill自提<br>

            付款方式：<br>
            澳洲银行转账 或者 人民币结算。
        </p></div>
</div>