<div>
    <div class="col-xs-12 text-center">
        <div class="row">
            <img src="img/system/new_year.png" style="max-width: 98%">
        </div>
        <div class="row">
            <img src="img/system/aussheep.jpg" class="img-rounded img-responsive" style="padding-top: 10px">
        </div>
    </div>

    <div class=" text-center">
        <h3>IPure 100%澳洲羊毛围巾</h3>
        <h4>柔软舒适不扎人，四季都可以带的围巾， 澳洲专业机构认证，毫无虚假</h4>
        <p>
            <img src="img/system/cert.jpg" class="img-rounded img-responsive">
        </p>
    </div>


</div>