<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
</head>
<body>
<div ng-app="bargin">
    <div ng-controller="main">
        <h1>{{welcome}}</h1>
        <button id="getPost" ng-click="getPost()">Her</button>
        <button ng-click="setPost()">Create Events</button>
    </div>
    <div ng-controller="cookies">
        <div>{{Sleeping}}</div>
        <button id="setUp" ng-click="setIt()">Remove Cookies</button>
        <button ng-click="getIt()">Set Cookie</button>
    </div>
</div>
<script src="js/angular-cookies.min.js"></script>
<script>
    'use strict';
    var app = angular.module('bargin',['ngCookies']);

    app.config(['$locationProvider', function($locationProvider){
        $locationProvider.html5Mode({enabled: true, requireBase: false}).hashPrefix('!');
    }]);

    app.controller('main', function($scope, $http) {
        //set up the cookies first

        $scope.getPost = function(){
            var req = {
                method: 'POST',
                url: 'ajax/bargin-help-check.php',
                headers: {
                    'Content-Type': 'application/json'
                },
                data: {
                    events: 1,
                    openid: "oSHx9wtP7KaSMc1FmeT9jUNTM8KI",
                    work_type: 'help'
                }
            }
            $http(req).then(function(response){
                $scope.welcome = response.data;
                console.log(response);
            });
        }
        $scope.setPost = function(){
            var req = {
                method: 'POST',
                url: 'ajax/bargin-help-check.php',
                headers: {
                    'Content-Type': 'application/json'
                },
                data: {
                    events: 1,
                    openid: "oSHx9wtP7KaSMc1FmeT9jUNTM8KI",
                    work_type: 'create'
                }
            }
            $http(req).then(function(response){
                $scope.welcome = response.data;
                console.log(response);
            });
        }
    });

    app.controller("cookies",function($scope, $cookies, $location){
        $scope.setIt = function(){
            $scope.Sleeping = "set cookie";
            $cookies.remove("openid");
            var cc = $location.search();
            console.log(cc);
            $location.search('et', 4);
        }

        $scope.getIt = function(){
            $scope.Sleeping = $cookies.get("openid");
            $cookies.put("new_login", 1);
        }
    })


</script>

</body>
</html>